<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLinkActive="active" routerLink="/">Dating App</a>
        <ul class="navbar-nav mr-auto" >
            <ng-container *ngIf="accountService.curresntUser$ | async">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/members">Matches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/lists">Lists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/messages">Messages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="logout()">Logout</a>
                </li>
            </ng-container>
        </ul>

        <div class="dropdown" *ngIf="(accountService.curresntUser$ | async) as user" dropdown>
            <a class="dropdown-toggle text-light" dropdownToggle>Welcome {{user.username | titlecase}}</a>
            <div class="dropdown-menu mt-3" *dropdownMenu>
                <a class="dropdown-item">Edit Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()" >Logout</a>
            </div>
        </div>

        <form *ngIf="(accountService.curresntUser$ | async)=== null" #loginForm="ngForm" (ngSubmit)="login()"
            autocomplete="off" class="d-flex">
            <input name="username" [(ngModel)]="model.username" class="form-control mr-sm-2" type="text"
                placeholder="Username">
            <input name="password" [(ngModel)]="model.password" class="form-control mr-sm-2" type="password"
                placeholder="Password">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
        </form>

    </div>
</nav>